<% content_for :head do %> 

  <title><%= site_title "Page 1" %></title>

  <% content_for :stylesheet do %> 

    <%= stylesheet_link_tag "page-1" %>
    
  <% end %>
  
<% end %>

<div class="row">
  <%= partial "project/modules/video-selector/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/video-player/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/video-grid/_partial" %>
</div>

<% content_for :javascript do %> 

  <%= javascript_include_tag "page-1" %>
  
<% end %>