<div
  data-index="{{index}}"
  data-video-id="{{video_id}}"
  data-episode-id="{{episode_id}}"
  class="selector cursor-pointer"
  >
  <div class="image-state">
    <img src="{{thumbnails.default.url}}" alt="{{title}}"/>
  </div>
</div>