<% content_for :head do %> 

  <title>Admin | <%= site_title %></title>
  <meta name="description" content="<%= site_description %>">
  <meta name="keywords" content="<%= site_keywords %>">
  <link rel="canonical" href="<%= site_url %>">

  <%= partial "library/partials/helpers/embed-icons" %>
  <%= partial "library/partials/helpers/social-tags" %>

  <% content_for :page_stylesheet do %> 

    <%= stylesheet_link_tag "admin" %>
    
  <% end %>
  
<% end %>

<div class="top-level-container main-region">

  <%= partial( 
    "project/modules/header/_partial", 
      :locals => { 
        :home_classes => "", 
        :admin_classes => "selected" 
      } 
    ) 
  %>
  <%= partial "project/modules/video-selector/_partial" %>
  <%= partial "project/modules/video-player/_partial" %>
  <%= partial "project/modules/video-grid/_partial" %>

</div>

<%= partial "library/media/_youtube" %>

<% content_for :page_javascript do %> 

  <%= javascript_include_tag "admin" %>
  
<% end %>