<% content_for :head do %> 

  <title><%= site_title "Home" %></title>
  
<% end %>

<div class="row">
  <%= partial "project/modules/header/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/module-a/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/module-b/_partial" %>
  <%= partial "project/modules/module-c/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/footer/_partial" %>
</div>