<% content_for :head do %> 

  <title><%= site_title %></title>

  <% content_for :stylesheet do %> 

    <%= stylesheet_link_tag "index" %>
    
  <% end %>
  
<% end %>

<div class="row">
  <%= partial "project/modules/module-a/_partial" %>
</div>
<div class="row">
  <%= partial "project/modules/module-b/_partial" %>
  <%= partial "project/modules/module-c/_partial" %>
</div>

<% content_for :javascript do %> 
  
<% end %>