<% content_for :head do %> 

  <title><%= data.site.title %></title>
  <meta name="description" content="<%= site_description %>">
  <meta name="keywords" content="<%= site_keywords %>">
	<link rel="canonical" href="<%= site_url %>">

  <%= partial "app/partials/helpers/embed-icons" %>
  <%= partial "app/partials/helpers/social-tags" %>
  
<% end %>

<!-- TODO: REMOVE BOILERPLATE HELLO -->
<p style="padding:10px;font:15px arial,sans-serif;font-size:50px;color:green">You are using <%= data.site.id %>.</p>

<%= partial "app/partials/views/structure/main" %>
<%= partial "app/partials/views/structure/header" %>
<%= partial "app/partials/views/structure/footer" %>