<!DOCTYPE html>

<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js"><!--<![endif]-->

	<head>

		<meta charset="utf-8">

    <% if is_production %>
		<meta name="robots" content="noindex, nofollow">
    <% end %>

		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/>
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="description" content="<%= site_description %>">
    <meta name="keywords" content="<%= site_keywords %>">
    <link rel="canonical" href="<%= site_url %>">

    <%= partial "library/partials/helpers/embed-icons" %>
    <%= partial "library/partials/helpers/social-tags" %>

		<%= yield_content :head %>

	  <%= stylesheet_link_tag "main" %>
    <%= yield_content :stylesheet %>
	  
	</head>

	<body 
    class="<%= page_classes %>" 
    data-debug-flag="<%= debug_flag %>"
    data-build-version="<%= build_version %>"
    data-environment-type="<%= environment_type %>"
    >

    <div class="top-level-container main-region">

      <div class="row">
        <%= partial "project/modules/header/_partial" %>
      </div>

      <%= yield %>

      <div class="row">
        <%= partial "project/modules/footer/_partial" %>
      </div>

    </div>


	</body>

  <%= javascript_include_tag "main" %>
  <%= yield_content :javascript %>

</html>